<nav class="navbar mavbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="fiis" routerLinkActive="active" class="nav-link"> Fiis List</a>
    </li>
  </ul>
</nav>

<h1 class="text-center"> Interface Consumidora da API: rota-investimentos </h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2021 @Maua Group Univesp 2017</span>
  </div>
</footer>
